/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variabili globali */
:root {
    --colore-principale: #007bff; /* Blu */
    --colore-testo: #333; /* Nero */
    --colore-sfondo: #f2f2f2; /* Grigio chiaro */
    --colore-accento: #28a745; /* Verde */
    --colore-python: #ffce54; /* Giallo */
}

/* Stili per il body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--colore-sfondo);
    color: var(--colore-testo);
    line-height: 1.6;
}

/* Stili per l'header */
.navbar {
    background-color: var(--colore-principale);
    padding: 20px;
    text-align: center;
}

.titolo {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Effetto ombra */
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.titolo:hover, .sottotitolo:hover {
    opacity: 0.8;
}

.sottotitolo {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Effetto ombra */
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

/* Stili per i box dei linguaggi */
.linguaggio-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.linguaggio-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}


.descrizione {
    margin-bottom: 20px;
}

/* Stili per i pulsanti */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--colore-principale);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--colore-accento);
}

/* Stili per il footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--colore-principale);
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
