
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(1em + 0.5px);
}

:root {
    --colore-principale: #007bff; 
    --colore-testo: #333;
    --colore-sfondo: #f2f2f2; 
    --colore-accento: #28a745; 
    --colore-python: #ffce54; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--colore-sfondo);
    color: var(--colore-testo);
    line-height: 1.6;
}

h4 {
    background-color: #2890ff;
    font-size: 2rem;
    border-radius: 10px;
    display: inline-block;
}

.navbar {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colore-principale);
    padding: 20px;
}

.titolo {
    font-size: 3rem; 
    margin-bottom: 10px;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.titolo:hover, .sottotitolo:hover {
    opacity: 0.8;
}

.sottotitolo {
    font-size: 1.5rem; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.linguaggi-container {
    overflow: hidden; 
}

.linguaggio-box {
    text-align: center;
    background-color: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
    padding: 10px; 
    margin: 10px; 
    transition: transform 0.3s ease; 
    transform: translateY(0); 
}

.linguaggio-box h2 {
    font-size: 3.5rem; 
    margin-bottom: 10px;
    color: var(--colore-principale); 
}

.linguaggio-box:hover {
    transform: translateY(-5px) scale(1.02); 
}

.descrizione {
    font-size: 1.1rem; 
    margin-bottom: 20px;
    color: var(--colore-testo); 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--colore-principale);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--colore-accento);
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-link {
    color: #fff; 
    text-decoration: none; 
}

.legend-container {
    position: absolute;
    top: 200px; 
    left: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; 
}

.legend-toggle {
    cursor: pointer;
    font-weight: bold;
    color: #007bff; 
}

.legend-content {
    margin-top: 10px;
}

.legend-content a {
    margin-top: 10px;
    color: black;
    text-decoration: none;
} 

.legend-content ul {
    list-style-type: none; 
    padding: 0;
}

.legend-content ul li {
    margin-bottom: 10px;
}

.tutorial-container {
    position: absolute;
    top: 200px; 
    left: 300px; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

ul {
    padding-left: 30px;
}

code {
    display: block;
    padding-left: 30px;
}

.brand {
    margin: 0 auto; 
}

.tutorial-container {
    position: absolute;
    top: 200px; 
    left: 300px; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

ul {
    padding-left: 30px;
}

code {
    display: block;
    padding-left: 30px;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
    width: 250px;
}

.auth-buttons {
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px; 
}

.dropdown .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--colore-principale);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.dropdown .btn:hover {
    background-color: var(--colore-accento);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-content .form-container {
    margin-bottom: 10px;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

.login-form label,
.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input,
.register-form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%; 
    box-sizing: border-box; 
}

.login-form button,
.register-form button {
    padding: 10px;
    background-color: var(--colore-principale);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

.login-form button:hover,
.register-form button:hover {
    background-color: var(--colore-accento);
}

.dropdown:hover .dropdown-content {
    display: block;
}
